/* Font descargadas Web */

@font-face {
    font-family: pokemonFont;
    src: url(../pokemonFont/pokemonSolid.ttf);
  }

@font-face {
font-family: pokemonInterfaceFont;
src: url(../pokemonFont/pokemonInterface.ttf);
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(49,121,9,1) 44%, rgba(87,255,0,1) 100%);
    background-size: auto;
    margin: 0px;
}



#mainContainer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}


/* Titulo Encabezado */
.encabezado {
    display: flex;
    justify-content: center;
 }

.title {
    margin: 0;
    color: goldenrod;
    width: 800px;
    height: 120px;
    text-size-adjust: 100px;
    font-family: pokemonFont;
    -webkit-text-stroke: 1px #1aa3ff;
    text-shadow: -10px 10px 10px rgb(57, 52, 52);
    font-size: 60px;
    letter-spacing: 5px;
    text-align: center;
}

/* Divs de sección */
section {
    font-family: pokemonInterfaceFont;
    padding: 10px;
}


/* Sección seleccionar Mascota Div */
#seleccionarMascota {
    margin: 50px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/fondo.jpg");
    background-color: #cccccc;
    background-repeat:calc();
}

/* Titulo seleccionar mascota */

#seleccionarMascota h2{
    margin-bottom: 20px;
}

/* Div de cada una de las opciones de seleccionar mascota */
input{
    display: none;
}



.tarjetasMascotas {
    /* border: solid 2px #282ea8; */
    background-clip: content-box; /* support: IE9+ */
    /* width: 180px;
    height: 100px; */
    margin: 5px;
    gap: 10px; /* Margen entre los divs*/
    font-size: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.tarjetasMascotasIndividual{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.imagenMascota{
    width: auto;
    filter: sepia(1) opacity(75%);
    border-radius: 20px;
}

.imagenMascotaGuerrera{
    border-radius: 20px;
}

/* Se utiliza cuando el input este checked, un selector de CSS de mismo nivel de jerarquia inmediato hermano */
input:checked + label img{
        filter: sepia(0) opacity(1);

}

#batalla-frame{
    display: flex;
    justify-content: space-around   ;
    align-items: center;
    margin: 50px;
}


/* Sección seleccionar Ataque Div */
#seleccionarAtaque {
    margin: 50px;
    background-image: url("../img/fondo.jpg");
    background-color: #cccccc;
    text-align: center;

}

#mensajes {
    font-size: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mensajePrincipal{
    background-image: linear-gradient(to right, #000000, #434343);
    border-radius: 20px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mensajeJugador{
    margin: 5px;
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(to right, #000000, #434343);
    border-radius: 20px
}


#mensajeEnemigo{
    margin:5px;
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(to right, #000000, #434343);
    border-radius: 20px;
}

.seccionAtaques {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
}

.btn-borde {
    padding: .375rem .75rem;
    border: 1px solid #000000;
    box-shadow: 2px -3px 0 rgba(91, 89, 89, 0.273) inset,
    0 1px 3px rgba(0,0,0,.2);
    border-radius: 70%;
    color: #000000;
    transition: color .15s ease-in-out,
      background-color .15s ease-in-out;
    background-color: #e0eadd;
  }

  #botonAgua:hover {
    background-image: url("../img/ataques/agua.gif");
    background-position: center;
    color: transparent;
    box-shadow: none;
}

#botonTierra:hover {
    background-image: url("../img/ataques/tierra.gif");
    background-position: center;
    color: transparent;
    box-shadow: none;
}

#botonFuego:hover {
    background-image: url("../img/ataques/fuego.gif");
    background-position: center;
    color: transparent;
    box-shadow: none;
}

#botonElectricidad:hover {
    background-image: url("../img/ataques/electricidad.gif");
    background-position: center;
    color: transparent;
    box-shadow: none;
}

#botonAire:hover {
    background-image: url("../img/ataques/aire.gif");
    background-position: center;
    color: transparent;
    box-shadow: none;
}

/* Seccion final de botones */

#botones {
    display: flex;
    justify-content:space-around;
}

.btn-3d {
    padding: .6rem 1rem;
    border: 1px solid #995309;
    border-radius: 4px;
    background-color: #d9750b;
    color: #fff;
  
    font-size: 1rem;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
      0 1px 3px rgba(0,0,0,.2);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#f90),to(#e76a00));
    background-image: linear-gradient(#f90 10%,#e76a00 100%);
  }
  
  .btn-3d:hover, .btn-3d:focus {
    background-color: #cf6a00;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#f0a100),to(#f70));
    background-image: linear-gradient(#f0a100 10%,#f70 100%);
  }
  
  .btn-3d:active {
    background-color: #cf6a00;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2) inset;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#f0a100),to(#f70));
    background-image: linear-gradient(#f0a100 10%,#f70 100%);
  }

  @media (max-width: 600px){
    .tarjetasMascotas, .tarjetasAtaque{
        flex-direction: column;
        gap: 10px;
    }
    
    .seccionAtaques{

        width: 50px;
        justify-content: center;
    }

}