/* Font descargadas Web */

@font-face {
    font-family: pokemonFont;
    src: url(../pokemonFont/pokemonSolid.ttf);
  }

@font-face {
font-family: pokemonInterfaceFont;
src: url(../pokemonFont/pokemonInterface.ttf);
}

html {
    background-image: url("../img/gimnasioPokemon.jpg");
    background-color: #cccccc;
    background-repeat:round;
}

button{
    background-color: aquamarine;
}


/* Titulo Encabezado */
.encabezado {
    display: flex;
    justify-content: center;
 }

.title {
    margin: 0;
    color: goldenrod;
    width: 800px;
    height: 120px;
    text-size-adjust: 100px;
    font-family: pokemonFont;
    -webkit-text-stroke: 1px #1aa3ff;
    text-shadow: -10px 10px 10px rgb(57, 52, 52);
    font-size: 60px;
    letter-spacing: 5px;
    text-align: center;
}

/* Divs de sección */
section {
    font-family: pokemonInterfaceFont;
    padding: 10px;
}


/* Sección seleccionar Mascota Div */
#seleccionarMascota {
    margin: 50px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 246, 37, 0.5), rgba(21, 185, 92, 0.5));

    Poner en opaco gris*/

/*     background-image: url("../img/interfacePokemon.jpg"); */

/*     color: aliceblue; */
    background-repeat:calc();
}

/* Titulo seleccionar mascota */

#seleccionarMascota h2{
    margin-bottom: 20px;
}

/* Div de cada una de las opciones de seleccionar mascota */
.tajetasMascotas {
    display: flex;
    flex-direction: row;
    text-align: center;

}

.tarjetaMascotaIndividual {
    border: solid 1px #282ea8;
    background-clip: content-box; /* support: IE9+ */
    margin: 5px;
    gap: 10px; /* Margen entre los divs*/
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5));
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagenMascota{
    width: 70%;
}

/* Sección seleccionar Ataque Div */
#seleccionarAtaque {
    margin: 50px;
    background-image:  linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5));
    text-align: center;
}

#mensajes {
    background-image: radial-gradient(circle at 50% -20.71%, #ade5ff 0, #7dcefb 25%, #3cb5f2 50%, #009ce9 75%, #0085e0 100%);
    opacity: 70%;
    font-size: 8px;
}

#sectionReiniciar {
    display: flex;
    justify-content: center;
}


/* Seccion final de botones */

#botones {
    display: flex;
    justify-content:space-around;
}

.btn-borde {
    padding: .375rem .75rem;
    border: 1px solid #000000;
    border-radius: .25rem;
    color: #000000;
    transition: color .15s ease-in-out,
      background-color .15s ease-in-out;
    background-color: #e0eadd;
  }
  
  .btn-borde:hover, .btn-borde:active, .btn-borde:focus {
    color: #fff;
    background-color: #211a82;
  }

.btn-3d {
    padding: .6rem 1rem;
    border: 1px solid #995309;
    border-radius: 4px;
    background-color: #d9750b;
    color: #fff;
  
    font-size: 1.5rem;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
      0 1px 3px rgba(0,0,0,.2);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#f90),to(#e76a00));
    background-image: linear-gradient(#f90 10%,#e76a00 100%);
  }
  
  .btn-3d:hover, .btn-3d:focus {
    background-color: #e0811b;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#f0a100),to(#f70));
    background-image: linear-gradient(#f0a100 10%,#f70 100%);
  }
  
  .btn-3d:active {
    background-color: #cf6a00;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2) inset;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#f0a100),to(#f70));
    background-image: linear-gradient(#f0a100 10%,#f70 100%);
  }