<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monster Duel</title>
    <script src="../src/js/monsterDuel.js"></script>
    <link href="../src/styles/main.css" rel="stylesheet" type="text/css" />
    <link
      href="../src/styles/monsterDuel.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div class="mainContainer">
      <header class="encabezado">
        <h1 class="title">Monster Duel</h1>
      </header>
      <section id="seleccionarMascota">
        <h2>Elíge tu mascota</h2>

        <div class="tarjetasMascotas">
          <div class="tarjetaMascotaIndividual">
            <input type="radio" name="mascota" id="squirtle" checked />
            <label for="squirtle"
              ><img
                class="imagenMascota"
                src="../src/img/mascotas/squirtle.jpg"
                alt="Squirtle"
              /><br />EASY<br />Squirtle</label
            >
          </div>
          <div class="tarjetaMascotaIndividual">
            <input type="radio" name="mascota" id="bulbasor" />
            <label for="bulbasor"
              ><img
                class="imagenMascota"
                src="../src/img/mascotas/bulbasor.jpg"
                alt="Bulbasor"
              /><br />MED/EASY<br />Bulbasor</label
            >
          </div>
          <div class="tarjetaMascotaIndividual">
            <input type="radio" name="mascota" id="charmander" />
            <label for="charmander"
              ><img
                class="imagenMascota"
                src="../src/img/mascotas/charmander.gif"
                alt="Charmander"
              /><br />MEDIUM<br />Charmander</label
            >
          </div>
          <div class="tarjetaMascotaIndividual">
            <input type="radio" name="mascota" id="dragonGyradous" />
            <label for="dragonGyradous"
              ><img
                class="imagenMascota"
                src="../src/img/mascotas/gyradous.png"
                alt="Gyradous"
              /><br />MED/HARD<br />Dragon Gyradous</label
            >
          </div>
          <div class="tarjetaMascotaIndividual">
            <input type="radio" name="mascota" id="dragonPegassi" />
            <label for="dragonPegassi"
              ><img
                class="imagenMascota"
                src="../src/img/mascotas/pegassi.gif"
                alt="Pegassi"
              /><br />HARD<br />Dragon Pegassi</label
            >
          </div>
          <div class="tarjetaMascotaIndividual">
            <input type="radio" name="mascota" id="dragonSkull" />
            <label for="dragonSkull"
              ><img
                class="imagenMascota"
                src="../src/img/mascotas/cubone.png"
                alt="Skull"
              /><br />REALLY HARD<br />Dragon Skull</label
            >
          </div>
        </div>
        <button class="btn-3d" id="botonMascotas">Seleccionar</button>
      </section>
      <section id="seleccionarAtaque">
        <h2>Elíge tu ataque</h2>
        <div class="tarjetasAtaque">
          <button class="btn-borde" id="botonAgua">Agua 💧</button>
          <button class="btn-borde" id="botonTierra">Tierra 🌱</button>
          <button class="btn-borde" id="botonFuego">Fuego 🔥</button>
          <button class="btn-borde" id="botonElectricidad">Electricidad ⚡</button>
          <button class="btn-borde" id="botonAire">Aire ☁️</button>
        </div>
        <p>
          Tu mascota <span id="mascotaJugador"> [--] </span> 
          <!-- tiene <span id="vidaJugador"> [--] </span> vidas -->
        </p>
        <p>
          La mascota del enemigo <span id="mascotaEnemigo"> [--] </span> 
          <!-- tiene<span id="vidaEnemigo"> [--] </span> vidas -->
        </p>
      </section>
      <section id="mensajes">
        <div id="mensajePrincipal">Bienvenido a tu primer Duelo de Monstros</div>

        <div class="seccionAtaques">
          <div id="mensajeJugador">
            <div id="ataqueJugador"></div>
            <p>Tu<br><span id="vidaJugador"> [--] </span> vidas</p>
          </div>
          <div id="mensajeEnemigo">
            <div id="ataqueEnemigo"></div>
            <p>Enemigo<br><span id="vidaEnemigo"> [--] </span> vidas</p>
          </div>
        </div>
        <button class="btn-3d" id="botonReiniciar">Reinciar</button>
      </section>


      |


      <div id="reglasJuego">
        <h3>Reglas del juego</h3>
        <p>
          (1) Agua 💧 gana (3) Fuego 🔥 y gana (4) Electricidad ⚡<br />(2)
          Tierra 🌱 gana (4) Electricidad ⚡ y gana (1) Agua 💧<br />(3) Fuego
          🔥 gana (2) Tierra 🌱 y gana (5) Aire ☁️<br />(4) Electricidad ⚡ gana
          (5) Aire ☁️ y gana (3) Fuego 🔥<br />(5) Aire ☁️ gana (1) Agua 💧 y
          gana (2) Tierra 🌱
        </p>
      </div>

      <div id="botones">
        <button class="btn-3d">Rules</button>
        <button class="btn-3d" onclick="location.href='../index.html'">
          Go Back 🔙
        </button>
      </div>

      <p>Interfaz de Batalla del Duelo de Monstruos</p>
      <h3>Cosas por hacer</h3>
      <ul>
        <li>Integrar estilos</li>
        <li>Integrar API Pokemon</li>
      </ul>

      <p></p>
    </div>
  </body>
</html>
