<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monster Duel</title>
    <script src="../src/js/monsterDuel.js"></script>
    <link href="../src/styles/main.css" rel="stylesheet" type="text/css" />
    <link
      href="../src/styles/monsterDuel.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div class="mainContainer">
      <header class="encabezado">
        <h1 class="title">Monster Duel</h1>
      </header>

      <section id="seleccionarMascota">
        <h2>Elíge tu mascota</h2>

        <div class="tajetasMascotas">
          <div class="tarjetaMascotaIndividual">
            
            <label for="squirtle"><img class="imagenMascota" src="../src/img/mascotas/squirtle.jpg" alt="Squirtle"><br>EASY<br>Squirtle</label>
            <input type="radio" name="mascota" id="squirtle" checked />
          </div>
          <div class="tarjetaMascotaIndividual">
            <label for="bulbasor"><img class="imagenMascota" src="../src/img/mascotas/bulbasor.jpg" alt="Bulbasor"><br>MED/EASY<br>Bulbasor</label>
            <input type="radio" name="mascota" id="bulbasor" />
          </div>
          <div class="tarjetaMascotaIndividual">
            <label for="charmander"><img class="imagenMascota" src="../src/img/mascotas/charmander.gif" alt="Charmander"><br>MEDIUM<br>Charmander</label>
            <input type="radio" name="mascota" id="charmander" />
          </div>
          <div class="tarjetaMascotaIndividual">
            <label for="dragonGyradous"><img class="imagenMascota" src="../src/img/mascotas/gyradous.png" alt="Gyradous"><br>MED/HARD<br>Dragon Gyradous</label>
            <input type="radio" name="mascota" id="dragonGyradous" />
          </div>
          <div class="tarjetaMascotaIndividual">
            <label for="dragonPegassi"><img class="imagenMascota" src="../src/img/mascotas/pegassi.gif" alt="Pegassi"><br>HARD<br>Dragon Pegassi</label>
            <input type="radio" name="mascota" id="dragonPegassi" />
          </div>
          <div class="tarjetaMascotaIndividual">
            <label for="dragonSkull"><img class="imagenMascota" src="../src/img/mascotas/cubone.png" alt="Skull"><br>REALLY HARD<br>Dragon Skull</label>
            <input type="radio" name="mascota" id="dragonSkull" />
          </div>
        </div>
        <button class="btn-borde" id="botonMascotas">Seleccionar</button>
      </section>

      <!--         Squirtle -> Agua
        Bulbasor -> Tierra
        Charmander -> Fuego
        Dragon Gyradous -> Agua y Fuego
        Dragon Pegassi -> Agua y Tierra
        Dragon Skull -> Tierra y Fuego
 -->

      <section id="seleccionarAtaque">
        <h2>Elíge tu ataque</h2>
        <p>
          Tu mascota <span id="mascotaJugador"> [--] </span> tiene
          <span id="vidaJugador"> [--] </span> vidas
        </p>
        <p>
          La mascota del enemigo <span id="mascotaEnemigo"> [--] </span> tiene
          <span id="vidaEnemigo"> [--] </span> vidas
        </p>
        <div>
          <button id="botonAgua">Agua 💧</button>
          <button id="botonTierra">Tierra 🌱</button>
          <button id="botonFuego">Fuego 🔥</button>
          <button id="botonElectricidad">Electricidad ⚡</button>
          <button id="botonAire">Aire ☁️</button>
        </div>
      </section>
      <section id="mensajes">Bienvenido a tu primer Duelo de Monstros</section>
      
      <div id="reglasJuego">
        <h3>Reglas del juego</h3>
        <p>
          (1) Agua 💧 gana (3) Fuego 🔥 y gana (4) Electricidad ⚡<br />(2)
          Tierra 🌱 gana (4) Electricidad ⚡ y gana (1) Agua 💧<br />(3) Fuego
          🔥 gana (2) Tierra 🌱 y gana (5) Aire ☁️<br />(4) Electricidad ⚡ gana
          (5) Aire ☁️ y gana (3) Fuego 🔥<br />(5) Aire ☁️ gana (1) Agua 💧 y
          gana (2) Tierra 🌱
        </p>
      </div>
      <section id="sectionReiniciar">
        <button class="btn-borde" id="botonReiniciar">Reinciar</button>
      </section>

      <div id="botones">
        <button class="btn-3d">Rules</button>
        <button class="btn-3d" onclick="location.href='../index.html'">Go Back 🔙</button>
      </div>

      <p>Interfaz de Batalla del Duelo de Monstruos</p>
      <h3>Cosas por hacer</h3>
      <ul>
        <li>Integrar estilos</li>
        <li>Integrar API Pokemon</li>
      </ul>

      <p></p>
    </div>
  </body>
</html>
